@model miniproject2.Models.addstudentviewmodel
@{
}
<h1>Student Registeration</h1>
<form method="post" action="Add" class="mt-5">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" asp-for="Name" >
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>

    <div class="form-group">
        <label for="">Course Name</label>
        <input type="text" class="form-control" asp-for="course">
    </div>

    <div class="form-group">
        <label for="">Percentage</label>
        <input type="number" class="form-control" asp-for="percentage">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

    </form>

