@model miniproject2.Models.updatestudentview_model
@{
}
<h1> Edit Student Registeration</h1>
<form method="post" action="view" class="mt-5">
    div class="form-group">
    <label for="">Id</label>
    <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>

    <div class="form-group">
        <label for="">Course Name</label>
        <input type="text" class="form-control" asp-for="course">
    </div>

    <div class="form-group">
        <label for="">Percentage</label>
        <input type="number" class="form-control" asp-for="percentage">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

</form>
